

body {
  
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 background-color: rgb(20, 45, 20);

  }
.signUp{
  min-width: 320px;
  height: 100vh;
 
 background-color: rgb(20, 45, 20);
 display:grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.signUp div{
 display: grid;
 margin: auto;
 justify-items: center;
 align-items: center;
 text-align:left;
 border: none;
 background-color: #ffffff;
 border-radius: 5px;
 color: #000;;
 font-size: smaller;
 
}
.signUp input{
 width: 250px; 
 height: 30px;
 border: none;
 background-color:beige;
 border-radius: 5px;
 text-align: center;
 font-size: xx-small;
 outline-color: rgb(151, 245, 132);
 margin-bottom: 10px;
 
}
.side{
  display:grid;
  padding:10px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  background:aliceblue;
  border-radius:10px;
  width:fit-content;
  color:green;
  font-weight:bold;
  z-index:10;
}
.side div{
  margin:2px;
  width:150px;
  height:fit-content;
  padding:10px;
  border:1px solid greenyellow;
  border-radius:5px;
}

.side div:hover{
background:green;
color:white;
}
input[type="file"]{
  background-color: green;
  display: none;
}

.input{
  width: 170px; 
  height: 30px;
  border: none;
  background-color:beige;
  border-radius: 3px;
  text-align: center;
  font-size: xx-small;
  outline-color: rgb(151, 245, 132);
  }
  select{
    width: 20px;
    outline-color: yellowgreen;
  }

.signUp button{
  border-radius: 5px;
  background-color: rgba(47, 142, 47, 0.633);
  padding: 10px;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  outline-color: palevioletred;
  width: 200px;
}
.img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  color: grey;
  padding: 5px;
}
.two{
  display: grid;
  grid-template-columns: auto auto;
  justify-content:baseline;
}
.twoA{
  display: grid;
  grid-template-columns: auto auto;
  margin: 2px;
  justify-content: space-between;
  padding: 5px;
}
.three{
  width:100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:baseline;
  min-width: 320px;
  max-width: 1000px;
  
}
.three div{
  text-align: center;
  font-weight: bolder;
  align-items: center;
}.three div:hover{
  color: #fff;
  background-color:green ;
}

.four{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content:baseline;
  min-width: 300px;
  max-width: 600px;
}

.three3{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  justify-content:baseline;
  
}
.three4{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:baseline;
  
}
.three2{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:flex-end;
  width: 100%;
}
.three2 div{
  padding: 10px;
  margin: 10px;
 border: 1px solid rgba(69, 69, 69, 0.247);
 height: fit-content;
 background-color: #fff;
 border-radius: 5px;
 color: #424040c5;
}
.bars{
  display: none;
}
.icons{
  position: absolute;
  padding: 10px;
  height: fit-content;
  right: 0px;
}
.icons div{ 
  width: 50px; 
  background-color: aliceblue;
  padding: 6px;
  border:1px solid rgba(68, 68, 68, 0.343);
  border-radius: 5px;
  text-align: center;
  font-size:x-small ;
  color: green;
  text-decoration: none;
  font-weight: bold;
  }

.two2{
  display: grid;
  grid-template-columns: 2fr 10fr;
  justify-content:baseline;
  border-radius: 10px;

}
.seven{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content:baseline;
  padding: 10px;
  width: 800px;
}
.scroll{
  min-width: 320px;
  overflow-x: scroll;
}
.row5{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content:baseline;
  height: 170px;
  padding: 10px;
  width: 800px;
}
.row2{
  display: grid;
  grid-template-rows: auto auto ;
  justify-content:baseline;
 
}

.user{
  background-color: #f5f5dc;
  width: 98%;
  min-width: 320px;
  height: 30px;
  margin: auto;
}
.user2{
  background-color: #ffffffc0;
  width: 98%;
  min-width: 320px;
  height: fit-content;
  margin: auto;
  padding: 10px;
}
.bgUser{
  
  width:fit-content;
  height:fit-content;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-family:system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: green;
  display: grid;
  margin: auto;
  padding: 10px;
  border: 1px solid rgba(65, 64, 64, 0.189);
  border-radius: 10px;
  background-color: rgba(240, 245, 249, 0.92);
  justify-content:baseline;

}
.profile{
  width: 320px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: small;
}
.profile input{
  margin: auto;
 height: 30px;
 min-width: 300px;
 border: none;
 background-color: beige;
 text-align: center;
 outline-color: greenyellow;
 margin-bottom: 20px;
 

}
.profile button{
  height: 30px;
  width: 200px;
 display: flex;
  background-color: #1a1a1a;
  color: white;
  font-weight: bold;
  justify-self: center;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.profile div{
  color:green;
  font-weight: bold;
}
th{
  width: 100px;
   margin: 10px;
  border: 1px solid rgba(79, 79, 79, 0.213); 
}

.green th:hover{
  background-color: #938e8ea1;
}
.green1 tr:hover{
  background-color: #938e8ea1;
}

.white{
  
  justify-content:baseline;
  min-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(132, 131, 131, 0.316);
  
 
}
.white2{
  justify-content:baseline;
  background-color: #fff;
  border-radius: 5px;
  min-width: 250px;
  max-width: 100%;
  padding: 5px;
  border: 1px solid rgba(132, 131, 131, 0.316);
 margin-top: 5px;
}
.red{
  color: red;
}
.red2{
  color: red;
  font-size: 25px;
  border: 3px solid red;
  height: 25px;

}
.green1{
  color: green;
}
.green{
  color: green;
}.green2{
  color: green;
  font-size: 25px;
  border: 3px solid green;
  height: 25px;

}
.save{
  background-color: rgb(220, 242, 220);
}
.save:hover{
  background-color: rgb(11, 45, 11);
color: #fff;
}

.click{
  
  background-color: rgb(212, 207, 207);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  text-align: center;
  display: grid;
  margin: 2px;
  justify-self: flex-end;

}
.click2{
  
  background-color: rgb(212, 207, 207);
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  display: grid;
  margin: 2px;
  justify-self: flex-end;
}
.click1{
  background-color: rgb(133, 174, 133);
  color: rgb(10, 26, 8);
  border-radius: 5px;
  height: fit-content;
  width: 80px;
  padding: 5px;
  text-align: center;
  display: grid;
  height: 30px;
  border: none;
  justify-self: flex-end; 
}
.image:hover{
  background-color: rgb(209, 204, 204);
  color: #fff;
}
image:active{
  height: 100px;
}

.click1:hover{
  background-color: rgb(17, 50, 13);
  border-radius: 5px;
  height: fit-content;
  width: 80px;
  padding: 5px;
  color: #f5f5dc;
  text-align: center;
  display: grid;
  margin: 2px;
  border: none;
  justify-self: flex-end;
}

.center{
  width: 100%;
  height: 100vh;
  display: grid;
  margin: auto;
 
}
.center2{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
}
 button a{
  text-decoration:none;
  color:white;
  font-size:larger;
}
.dropDown{
  display: grid;
  font-weight: bold;
  background-color:beige;
  width: 200px;
  padding-left: 10px;
  height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;

}





@media all and (width < 450px){
  .three2{
    display: none;
    background:green;
  }
  .bars{
    display: grid;
    justify-content:center;
    align-items: flex-end;
    height: 50px;
  }
  .twoA{
    display: grid;
    grid-template-rows: auto auto;
    justify-content:baseline;
  }
  
}


